/pruebaVehiculo/target/
/Hilos/nbproject/private/
/Hilos/build/
/Taller4/nbproject/private/
/Taller4/build/
/PD_Cord_Byro/nbproject/private/
/PD_Cord_Byro/build/
/Problema/nbproject/private/
/Problema/build/
/PROBLEMA2/nbproject/private/
/PROBLEMA2/build/
